In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import json
import folium
from branca.colormap import linear
import plotly
import plotly.plotly as py
import plotly.figure_factory as ff
import shapely
import shapefile

%matplotlib inline

In [2]:
prev = pd.read_excel('data/DiabetesPrevalence_99.xlsx', sheet_name='prevalence_99', header=1)
comps = pd.read_excel('data/complications_hospitalizations_99.xlsx', sheet_name='comp_hosp_99', header=1)
us_states = gpd.read_file('data/states.json')

In [3]:
prev.head()

,fips,state,year,sex,sex_cat,age,age_cat,prevalence,ll,ul,count
0,1,ALABAMA,2013,0,Overall,1,18-44,0.050086,0.036471,0.063700,85.499
1,2,ALASKA,2013,0,Overall,1,18-44,0.018118,0.009594,0.026643,5.059
2,4,ARIZONA,2013,0,Overall,1,18-44,0.027343,0.013899,0.040787,65.269
3,5,ARKANSAS,2013,0,Overall,1,18-44,0.041642,0.027736,0.055548,43.107
4,6,CALIFORNIA,2013,0,Overall,1,18-44,0.029161,0.022332,0.035989,427.085

In [4]:
# create a separate df for age adjusted
prev_aa = prev[prev['age_cat'] == 'age adjusted']

In [5]:
# drop rows where age_cat = age adjusted, since there's no data for ll, ul, count variables
prev = prev[prev['age_cat'] != 'age adjusted']

In [6]:
# drop columns where there is no data available for age adjusted df
prev_aa = prev_aa.drop(columns = ['ll', 'ul', 'count'], axis=1)
prev_aa.head()

     fips       state  year  sex sex_cat  age       age_cat  prevalence
780     1     ALABAMA  2013    1   Males    9  age adjusted    0.128879
781     2      ALASKA  2013    1   Males    9  age adjusted    0.078849
782     4     ARIZONA  2013    1   Males    9  age adjusted    0.107250
783     5    ARKANSAS  2013    1   Males    9  age adjusted    0.118038
784     6  CALIFORNIA  2013    1   Males    9  age adjusted    0.102623

In [7]:
prev_aa[prev_aa['state'] == 'United States']

     fips          state  year  sex  sex_cat  age       age_cat  prevalence
831    99  United States  2013    1    Males    9  age adjusted    0.099220
883    99  United States  2013    2  Females    9  age adjusted    0.090170
935    99  United States  2013    0  Overall    9  age adjusted    0.094181

In [8]:
prev_aa.sort_values(by='prevalence', ascending=False).head(3)

     fips    state  year  sex  sex_cat  age       age_cat  prevalence
780     1  ALABAMA  2013    1    Males    9  age adjusted    0.128879
884     1  ALABAMA  2013    0  Overall    9  age adjusted    0.126526
832     1  ALABAMA  2013    2  Females    9  age adjusted    0.125636

In [9]:
prev.sort_values(by='prevalence', ascending=False).head(3)

,fips,state,year,sex,sex_cat,age,age_cat,prevalence,ll,ul,count
264,1,ALABAMA,2013,1,Males,4,75+,0.316128,0.244504,0.387751,37.273
403,18,INDIANA,2013,1,Males,3,65-74,0.310007,0.269624,0.350391,75.988
594,37,NORTH CAROLINA,2013,1,Males,4,75+,0.308545,0.247221,0.369869,69.586

In [10]:
comps.head()

,fips,state,year,sex,sex_cat,age,age_cat,hf_ageadjusted,hf_count,hf_rate,...,hhns_ageadjusted,hhns_count,hhns_rate,hhns_ll,hhns_ul,dka_ageadjusted,dka_count,dka_rate,dka_ll,dka_ul
0,4,ARIZONA,2013.0,0,Overall,0,18+,6.303754,5172.0,9.679740,...,1.395376,435.0,0.814131,0.690315,0.937948,19.186359,3384.0,6.333380,5.370172,7.296587
1,4,ARIZONA,2013.0,0,Overall,1,18-44,NaN,183.0,2.803777,...,NaN,134.0,2.053039,1.039277,3.066801,NaN,2206.0,33.798542,17.109298,50.487785
2,4,ARIZONA,2013.0,0,Overall,2,45-64,NaN,1466.0,5.555830,...,NaN,186.0,0.704901,0.534238,0.875563,NaN,914.0,3.463867,2.625236,4.302497
3,4,ARIZONA,2013.0,0,Overall,3,65-74,NaN,1460.0,11.564541,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ARIZONA,2013.0,0,Overall,4,75+,NaN,2063.0,26.137803,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
comps = comps.drop(columns='year')

In [12]:
aa_cols = ['fips', 'state', 'sex_cat', 'age', 'age_cat', 'hf_ageadjusted', 'stroke_ageadjusted', 
           'mi_ageadjusted', 'lea_ageadjusted', 'hypogl_ageadjusted', 'hhns_ageadjusted', 'dka_ageadjusted']

comps_aa = comps.loc[:, aa_cols]
comps_aa.head()

,fips,state,sex_cat,age,age_cat,hf_ageadjusted,stroke_ageadjusted,mi_ageadjusted,lea_ageadjusted,hypogl_ageadjusted,hhns_ageadjusted,dka_ageadjusted
0,4,ARIZONA,Overall,0,18+,6.303754,4.957159,4.624921,3.648717,2.21626,1.395376,19.186359
1,4,ARIZONA,Overall,1,18-44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,ARIZONA,Overall,2,45-64,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,ARIZONA,Overall,3,65-74,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ARIZONA,Overall,4,75+,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
comps_aa = comps_aa[comps_aa['age_cat'] == '18+']

In [14]:
comps_aa.state = comps_aa.state.str.title()

In [15]:
us_states

    id            name                                           geometry
0   AL         Alabama  POLYGON ((-87.359296 35.00118, -85.606675 34.9...
1   AK          Alaska  (POLYGON ((-131.602021 55.117982, -131.569159 ...
2   AZ         Arizona  POLYGON ((-109.042503 37.000263, -109.04798 31...
3   AR        Arkansas  POLYGON ((-94.473842 36.501861, -90.152536 36....
4   CA      California  POLYGON ((-123.233256 42.006186, -122.378853 4...
5   CO        Colorado  POLYGON ((-107.919731 41.003906, -105.728954 4...
6   CT     Connecticut  POLYGON ((-73.053528 42.039048, -71.7993089999...
7   DE        Delaware  POLYGON ((-75.414089 39.804456, -75.5071970000...
8   FL         Florida  POLYGON ((-85.497137 30.997536, -85.004212 31....
9   GA         Georgia  POLYGON ((-83.109191 35.00118, -83.322791 34.7...
10  HI          Hawaii  (POLYGON ((-155.634835 18.948267, -155.881297 ...
11  ID           Idaho  POLYGON ((-116.04751 49.000239, -116.04751 47....
12  IL        Illinois  POLYGON ((-90.639984 42.510065, -88.7887779999...
13  IN         Indiana  POLYGON ((-85.990061 41.759724, -84.807042 41....
14  IA            Iowa  POLYGON ((-91.36841699999999 43.501391, -91.21...
15  KS          Kansas  POLYGON ((-101.90605 40.001626, -95.306337 40....
16  KY        Kentucky  POLYGON ((-83.903347 38.769315, -83.678792 38....
17  LA       Louisiana  POLYGON ((-93.608485 33.018527, -91.1657699999...
18  ME           Maine  POLYGON ((-70.70392099999999 43.057759, -70.82...
19  MD        Maryland  (POLYGON ((-75.99464500000001 37.95325, -76.01...
20  MA   Massachusetts  POLYGON ((-70.91752099999999 42.887974, -70.81...
21  MI        Michigan  (POLYGON ((-83.454238 41.732339, -84.807042 41...
22  MN       Minnesota  POLYGON ((-92.014696 46.705401, -92.091373 46....
23  MS     Mississippi  POLYGON ((-88.471115 34.995703, -88.2027449999...
24  MO        Missouri  POLYGON ((-91.833957 40.609566, -91.729895 40....
25  MT         Montana  POLYGON ((-104.047534 49.000239, -104.042057 4...
26  NE        Nebraska  POLYGON ((-103.324578 43.002989, -101.626726 4...
27  NV          Nevada  POLYGON ((-117.027882 42.000709, -114.04295 41...
28  NH   New Hampshire  POLYGON ((-71.08183 45.303304, -71.032537 44.6...
29  NJ      New Jersey  POLYGON ((-74.236547 41.14083, -73.90245400000...
30  NM      New Mexico  POLYGON ((-107.421329 37.000263, -106.868158 3...
31  NY        New York  POLYGON ((-73.343806 45.013027, -73.332852 44....
32  NC  North Carolina  POLYGON ((-80.978661 36.562108, -80.294043 36....
33  ND    North Dakota  POLYGON ((-97.22874299999999 49.000239, -97.09...
34  OH            Ohio  POLYGON ((-80.518598 41.978802, -80.518598 40....
35  OK        Oklahoma  POLYGON ((-100.087706 37.000263, -94.616242 37...
36  OR          Oregon  POLYGON ((-123.211348 46.174138, -123.11824 46...
37  PA    Pennsylvania  POLYGON ((-79.76278000000001 42.252649, -79.76...
38  RI    Rhode Island  (POLYGON ((-71.196845 41.67757, -71.1201680000...
39  SC  South Carolina  POLYGON ((-82.764143 35.066903, -82.550543 35....
40  SD    South Dakota  POLYGON ((-104.047534 45.944106, -96.560556000...
41  TN       Tennessee  POLYGON ((-88.054868 36.496384, -88.071299 36....
42  TX           Texas  POLYGON ((-101.812942 36.501861, -100.000075 3...
43  UT            Utah  POLYGON ((-112.164359 41.995232, -111.047063 4...
44  VT         Vermont  POLYGON ((-71.50355399999999 45.013027, -71.49...
45  VA        Virginia  (POLYGON ((-75.397659 38.013497, -75.244304 38...
46  WA      Washington  (POLYGON ((-117.033359 49.000239, -117.044313 ...
47  WV   West Virginia  POLYGON ((-80.518598 40.636951, -80.518598 39....
48  WI       Wisconsin  POLYGON ((-90.415429 46.568478, -90.229213 46....
49  WY         Wyoming  POLYGON ((-109.080842 45.002073, -105.91517 45...

In [16]:
# comps_aa_map_df = pd.merge(comps_aa, us_states, left_on='state', right_on='name', how='left')

In [17]:
# comps_aa_map_df = comps_aa_map_df.drop(columns='name')

In [18]:
# comps_aa_map_df.head()

In [19]:
colormap = linear.YlGn_09.scale(
    comps_aa.hf_ageadjusted.min(),
    comps_aa.hf_ageadjusted.max())

In [20]:
state_abbs = us_states.drop(columns='geometry')

In [21]:
comps_aa = pd.merge(comps_aa, state_abbs, left_on='state', right_on='name', how='left')

In [22]:
comps_aa = comps_aa.drop(columns='name')

In [23]:
comps_aa_overall = comps_aa[comps_aa['sex_cat'] == 'Overall']

In [24]:
comps_hf = comps_aa_overall.loc[:, ['id', 'hf_ageadjusted']]

In [25]:
# comps_hf_dict = comps_hf.set_index('id')['hf_ageadjusted']
# comps_hf_dict = comps_hf_dict.to_dict()

In [26]:
# m = folium.Map([43, -100], zoom_start=4)

# folium.GeoJson(
#     us_states,
#     name='heart failure',
#     style_function=lambda feature: {
#         'fillColor': colormap(comps_hf_dict[feature['id']]),
#         'color': 'black',
#         'weight': 1,
#         'dashArray': '5, 5',
#         'fillOpacity': 0.9,
#     }
# ).add_to(m)

# folium.LayerControl().add_to(m)

In [28]:
fig = ff.create_choropleth(fips=comps_aa_overall.fips, values=comps_aa_overall.hf_ageadjusted)
py.iplot(fig, filename='choropleth of hf nationally')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pandas/core/frame.py:6211: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.


/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/plotly/figure_factory/_county_choropleth.py:772: UserWarning:

Unrecognized FIPS Values

Whoops! It looks like you are trying to pass at least one FIPS value that is not in our shapefile of FIPS and data for the counties. Your choropleth will still show up but these counties cannot be shown.
Unrecognized FIPS are: [4, 5, 6, 8, 12, 15, 19, 21, 23, 24, 25, 26, 28, 31, 32, 34, 35, 36, 37, 41, 44, 45, 46, 49, 50, 53, 54, 55, 9, 2, 11, 13, 17, 18, 20, 22, 27, 29, 30, 38, 39, 40, 42, 47, 48, 51, 56, 99]

Aw, snap! We didn't get a username with your request.

Don't have an account? https://plot.ly/api_signup

Questions? accounts@plot.ly

PlotlyError: Because you didn't supply a 'file_id' in the call, we're assuming you're trying to snag a figure from a url. You supplied the url, '', we expected it to start with 'https://plot.ly'.
Run help on this function for more information.